@import "tailwindcss";
@import "./../fonts/estedad/index.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-estedad: "Estedad";

  --breakpoint-*:initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

body {
  @apply text-zinc-100 bg-zinc-950 font-estedad;
}

@utility container {
  @apply mx-auto w-[90%] md:w-full
}

.ant-modal {
  @apply bg-zinc-950!
}

.ant-modal-content {
  @apply bg-zinc-950! font-estedad!
}